.dark-theme {
  --color-background: #20262d;
  --color-background-rgb: 255, 255, 255;
  --color-accent: #102639;
  --color-primary: #247fd3;
  --color-primary-dark: #1a67ae;
  --color-primary-light: #ecf4fc;
  --color-primary-lighter: #f9fbfe;
  --color-primary-light-rgb: 236, 244, 252;
  --color-primary-disabled: #597e9f;
  --color-secondary: #11141b;
  --color-secondary-light: #191c24;
  --color-secondary-light-rgb: 249, 251, 252;
  --color-secondary-dark: #ebeeef;
  --color-secondary-dark-rgb: 235, 238, 239;
  --color-font: #ffffff;
  --color-font-light: #84868a;
  --color-success: #0e947c;
  --color-error: #f1521f;
  --color-border: #22272d;
  --color-border-default: #f3f3f3;
  --color-border-light: #f3f7f9;
  --color-border-default: #f3f3f3;
  --color-warning: #f1aa1f;
  --color-dots: #30363e;
}
